<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"> ANDYS </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isHome}}
            <li class="active"><a href="/">Главная</a></li>
            {{else}}
            <li><a href="/">Главная</a></li>
            {{/if}}
            {{#if isComponent}}
            <li class="active"><a href="/curses">Curses</a></li>
            {{else}}
            <li><a href="/curses">Curses</a></li>
            {{/if}}
            {{#if isAdd}}
            <li class="active"><a href="/add">ADD</a></li>
            {{else}}
            <li><a href="/add">ADD</a></li>
            {{/if}}
            {{#if Card}}
            <li class="active"><a href="/card">Корзина</a></li>
            {{else}}
            <li><a href="/card">Корзина</a></li>
            {{/if}}
        </ul>
    </div>
</nav>